header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  padding-right; 40px;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.nav{
  display: inline-block;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: right;
  padding: 20 10 20 10;
}

.span{
  align-items: right;
  padding: 20 10 20 10;
}
