header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
