header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  padding-right; 40px;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
}

header nav{
  padding-right: 40px;
}

nav span{
  diplay: inline-block;
  padding: 20px 10px;
}

.column.large{
  width: 630px;
}

.column.medium{
  width: 300px;
}

.column.small{
  width: 240px;
}

.content{
  display: flex;
  width: 1232px;
  padding-top: 116px;
}

.lead-story .image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

p{
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

div {
  border: 1px solid black;
}

.image-content{
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;

}

.fall-cancelled.image-content{
      background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.pop-culture.image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
